<!-- Header -->
<div data-collapse="none" data-animation="default" data-duration="400" class="navbar w-nav">
    <a href="/index.html" class="brand w-nav-brand">Sans.</a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      {% for item in site.navigation %}
          {% assign class = nil %}
          {% if page.active == item.dir %}
              {% assign class = 'w--current' %}
          {% endif %}
          <a href="{{ site.baseurl }}{{ item.page_url }}" class="link-nav w-nav-link {{ class }}">{{ item.title }}</a>
      {% endfor %}
    </nav>
</div>