<!DOCTYPE html>
    {% include /head.html %}
<body>
    {% include /header.html %}
    <div class="hero">
        <!--<img src="https://uploads-ssl.webflow.com/5b2a8936920a797db4639905/5b2a8936920a7989fd639958_arrow.svg" alt="" class="arrow"/>-->
        <div class="wrapper-title">
            <div class="">
                <h1 class="main-h1 home">Hi there,<br>Vera here.</h1>
            </div>
            <div class="home-subhead"><p>I'm a Digital Designer based in Leuven, Belgium.</p>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="section main">
    {{ content }}
    {% include /footer.html %} 
    </div>
</body>
</html>